
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issue Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Issue Detail</h1>
        <dl class="row">
            <dt class="col-sm-3">Summary:</dt>
            <dd class="col-sm-9">{{ object.summary }}</dd>

            <dt class="col-sm-3">Description:</dt>
            <dd class="col-sm-9">{{ object.description }}</dd>

            <dt class="col-sm-3">Status:</dt>
            <dd class="col-sm-9">{{ object.status }}</dd>

            <dt class="col-sm-3">Type:</dt>
            <dd class="col-sm-9">{{ object.type }}</dd>

            <dt class="col-sm-3">Created At:</dt>
            <dd class="col-sm-9">{{ object.created_at }}</dd>

            <dt class="col-sm-3">Updated At:</dt>
            <dd class="col-sm-9">{{ object.updated_at }}</dd>
        </dl>
        <a href="{% url 'issue-list' %}" class="btn btn-primary">Back to List</a>
    </div>
</body>
</html>
